
<span style="padding: 4px;">
  @switch (field().type) {
    @case(DynamicReactiveFormFieldType.TEXT_FIELD) {
      <mat-form-field>
          <input matInput [type]="field().subtype || 'text'" [formControl]="control()" [placeholder]="field().placeholder || ''">
        </mat-form-field>
    }
    @case(DynamicReactiveFormFieldType.TEXT_AREA) {
      <mat-form-field>
          <textarea matInput type="text" [formControl]="control()" [placeholder]="field().placeholder || ''"></textarea>
      </mat-form-field>
    }
    @case (DynamicReactiveFormFieldType.CHECK_BOX) {
      <div>
        <mat-checkbox [formControl]="control()">
          {{ field().placeholder }}
        </mat-checkbox>
      </div>
    }
    @case(DynamicReactiveFormFieldType.RADIO) {
      <mat-radio-group [formControl]="control()">
          @for(option of field().options; track option) {
              <mat-radio-button [value]="option" color='primary'>
                  {{ option }}
              </mat-radio-button>
          }
      </mat-radio-group>
    }
    @case(DynamicReactiveFormFieldType.SELECT_DROPDOWN) {
      <mat-form-field>
          <mat-select [placeholder]="field().placeholder || ''" [formControl]="control()">
              @for(option of field().options; track option) {
                  <mat-option [value]="field().optionValueKey ? option[field().optionValueKey!] : option">
                    {{ field().optionLabelKey ? option[field().optionLabelKey!] : option }}
                  </mat-option>
              }
          </mat-select>
      </mat-form-field>
  }
  @case(DynamicReactiveFormFieldType.SELECT_LIST) {
      <mat-selection-list [formControl]="control()" color='primary'>
          @for(option of field().options; track option) {
              <mat-list-option mySelectionList [value]="option" color='primary' checkboxPosition="before">
                  {{ option }}
              </mat-list-option>
          }
      </mat-selection-list>
  }

    <!-- @case(FieldType.SLIDE_TOGGLE) {
      <mat-slide-toggle [formControl]="control()" color='primary'>
          {{ field().placeholder }}
      </mat-slide-toggle>
      <mat-list role="list">
          @if(field().children) {
              @for(child of field().children; track child) {
                  <mat-list-item role="listitem" style="padding: 4px; margin-top: 5px;">
                      <mk-dynamic-form-field [field]="child" class="toggleChild" />
                  </mat-list-item>
              }
          }
        </mat-list>
  } -->
    @case (DynamicReactiveFormFieldType.DATE_PICKER) {
     <mat-form-field>
      @if (field().label) {
        <mat-label>{{field().label}}</mat-label>
      }
      <input matInput [matDatepicker]="picker" [placeholder]="field()?.placeholder || ''" [formControl]="control()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
    }
    @case(DynamicReactiveFormFieldType.SUBHEADER) {
      <p class="subheader">
          {{ field().placeholder }}
      </p>
    }
    @case(DynamicReactiveFormFieldType.DIVIDER) {
      <hr/>
    }
  }
