<mat-list>

  @for (product of products(); track product.id) {
    <mat-list-item>
      <img matListItemAvatar [src]="product.thumbnail" width="40" height="40">
      <span matListItemTitle>{{product.name}} </span>
      <span matListItemLine>Price: {{ product.price | currency }}</span>
      <span matListItemLine>Quantity: {{ product.quantity }}</span>
      <span matListItemMeta>
        <mat-icon class="action-icon" aria-hidden="false"
        aria-label="Remove from cart" fontIcon="delete" (click)="removeProduct.emit(product.id)"></mat-icon>
      </span>
    </mat-list-item>
  }
  @empty {
  <mat-list-item>
    <h5>The shopping cart is empty</h5>
  </mat-list-item>
  }
  @if (products().length > 0) {
  <mat-list-item>
    <p>Total: {{total() | currency }}</p>
  </mat-list-item>
  }

</mat-list>
