
<mat-form-field>
  @switch (field().type) {

    @case (FieldType.CHECKBOX) {

        <mat-checkbox [formControl]="control()" color="primary">
          {{ field().placeholder }}
        </mat-checkbox>

    }

    @case(FieldType.TEXT_FIELD) {
          <input matInput type="text" [formControl]="control()" [placeholder]="field().placeholder || ''">
    }

  }
</mat-form-field>
@if(control().errors) {
  <span >
  @if (control()?.errors!['required']) {
    This field is required.
  }
  </span>
}
