

<mat-toolbar>
  <button mat-icon-button (click)="toggleSideNavMode()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<mat-drawer-container hasBackdrop="false" class="example-container">
  <mat-drawer [mode]="menuSidenavMode()" [opened]="sideNavOpened()">
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button routerLink="/playground">Playground</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="/products">Products</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet/>
  </mat-drawer-content>
  <mat-drawer [mode]="menuSidenavMode()" opened position="end">
    <mk-shopping-cart [products]="shoppingCart().products" [total]="shoppingCart().totalPrice" (removeProduct)="removeProduct($event)"/>
  </mat-drawer>
</mat-drawer-container>


<mk-dynamic-list [items]="dynamicListItems"></mk-dynamic-list>

<div>
  <input [(ngModel)]="value"/>
  <mk-all-that-dynamic [(value)]="value" [dynamicElement]="dynamicElement"/>
</div>
