<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer [mode]="menuSidenavMode()" opened>
    <ul>
      <li><a routerLink="/playground">Playground</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/countries">Countries</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet/>
  </mat-drawer-content>
  <mat-drawer [mode]="menuSidenavMode()" opened position="end">
    <mk-shopping-cart [products]="[]" />
  </mat-drawer>
</mat-drawer-container>
