:host {
  mat-toolbar {
    --mat-sys-surface: var(--mat-sys-primary-container);
  }


    mat-drawer-content {
      height: calc(100vh - var(--mat-toolbar-standard-height, 64px));
      overflow: scroll;
    }
  }
